*{
    margin: 0;
    padding: 0;
}



nav{
    background-color: black;
    color: white;
    text-align: center;
    padding:20px;
}
li{
    display: inline;
    color: gray;
}
li:hover{
    color:white;
    cursor: pointer;
}
.searchbar{
    text-align: center;
} 
input{
    width: 60%;
    padding: 20px;
    margin-top: 50px;
}
.product{
    border: 2px;
    border-color: black;
    border-style: solid;
    width: 220px;
    display:inline-block;
    margin-top: 50px;
}
.box{
    text-align: center;
}
h4{
    background-color: black;
    width: 80px;
    color: white;
    padding:20px;
    margin-top: 40px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 0px;
}
button{
    text-align: center;
    width: 40%;
    background-color: yellow;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}
.box {
    display: flex;
    justify-content: center;
    gap: 10px; 
    align-items: stretch; 

.product {
    width: 250px; 
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    height: 100%; 
.product img {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
}

.product p {
    flex-grow: 1; 
    min-height: 60px; 
}

h4 {
    background-color: black;
    color: white;
    padding: 10px;
    margin: auto;
    display: inline-block;
}
.contact{
    background-color: black;
    color: white;
    margin-top: 20px;
}
td{
    color: white;
}